<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>This is index</div>
        <ul>
        <li><a href="/">home</a></li>
        <li><a href="./expcontroller/init">Init</a></li>
        <li><a href="/expcontroller/printcustomer">Print customer</a></li>
        <li><a href="/expcontroller/savecustomer0">Save customer0</a></li>
        <li><a href="/expcontroller/savecustomerwithoutlockingexception">Save customer without Pessimistic Locking Exception</a></li>
        <li><a href="/expcontroller/updatecustomer">Update customer</a></li>
        <li><a href="/expcontroller/readme">ReadMe</a></li>           
        </ul>
        
    </body>
</html>
