<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <ol>
                <li>
                Challenge: how to reproduce the optimistic locking exception is unknown.
                </li>            
                <li>Regardless multiple sessions/threads or not, when a locally referenced entity is not same version/object id as one in DB and you attempt to save/commit, you will get OptimisticLockingException.</li>
                <li>org.hibernate.StaleObjectStateException: Row was updated or deleted by another transaction (or unsaved-value mapping was incorrect) : 
                [com.example.demo.optimisticLockingExperiment.Customer#1]</li>
                <li>
                    Solutions: Instead using one locally referenced, use one from db and replace with new values.
                </li>
            </ol>
            <ol>
                
            </ol>
        </div>
    </body>
</html>
